<div class="contact-page">
	<h2> Contact Us </h2> 
</div>
<form action="post" class="clearfix">
	<div class="data">
		<div class="form-box">
			<input type="text" id="name" placeholder="name"> 
		</div>
		<div class="form-box">
			<input type="text" id="email" placeholder="email"> 
		</div>
		<div class="form-box">
			<input type="text" id="subject" placeholder="subject"> 
		</div>
	</div>
	<div class="message">
		<div class="form-box">
			<textarea id="comment" placeholder="comment"></textarea>
		</div>
	</div>
	<div class="button">
		<input type="submit" id="send" value="Send Email"> 
	</div>
</form>
<div class="feedback">
	
</div>